{{partial "components/header"}}

<div class="content-wrap">
	{{#em-form model=this}}
	<form {{action 'login' this on='submit'}}  method="post">
		<div class="content-wrap-inner">
			<div id="login">
				<div class="text-center mt30">
					<img src="images/logo.png" width="150" />
				</div>
				<div class="text-center mt10">
					<img src="images/nav_kouhao.jpg" width="220" />
				</div>
				<div class="login-form p30 pb20">

					{{#em-form-group property="cell"}}
							<div class="input-group mb20">
								<span class="input-group-addon">
									<i class="fa fa-user"></i>
								</span>
								{{input class="form-control placeholder-no-fix" type="text" autocomplete="off" autofocus="autofocus" placeholder="邮箱地址" value=model.cell}}
							</div>
			        {{#if view.hasError}}<span for="cell" class="help-block">{{view.errors}}</span>{{/if}}
			    {{/em-form-group}}

			    {{#em-form-group property="password"}}
							<div class="input-group mb20">
								<span class="input-group-addon">
									<i class="fa fa-lock"></i>
								</span>
								{{input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" value=model.password id="password"}}
							</div>
			        {{#if view.hasError}}<span for="password" class="help-block">{{view.errors}}</span>{{/if}}
			    {{/em-form-group}}

					<div class="row">
						<div class="col-md-6 checkbox margin-bottom-20">
							<label>
								{{input type='checkbox' checked=model.rememberMe}} 记住我
							</label>
						</div>
						<div class="col-md-12">
							<button id="submit-btn" class="btn-u btn-u-red col-sm-12 w-all" type="submit">登录</button>
						</div>
					</div>
					<p class="pt20">
						<a class="black" href="javascript:;">
							<span>
								忘记密码?
							</span>
						</a>
						{{#link-to "profile.register" class="black pull-right"}}
							<span>
								现在去注册
								<i class="fa fa-angle-double-right"></i>
							</span>
						{{/link-to}}
					</p>
					<div class="col-md-12 text-center fs-sm pt20">
						<div>© 摩尔街 molstr.com 沪ICP备15010975号</div>
						<a href="http://www.molstr.com">pc版</a> 400-108-8182
					</div>
				</div>
			</div>
		</div>
	</form>
	{{/em-form}}
</div>
