{{zz-header toolbar_back_show=true toolbar_name="登陆" toolbar_back_url="home"}}

<div class="content-wrap">
	<form {{action 'login' this on='submit'}}  method="post">
		<div class="content-wrap-inner">
			<div id="login">
				<div class="text-center mt30">
					<img src="images/logo.png" width="150" />
				</div>
				<!-- <div class="text-center mt10">
					<img src="images/nav_kouhao.png" width="220" />
				</div> -->
				<div class="login-form p30 pb20">
					<div class="alert alert-danger {{unless hasError 'hidden'}}">
        		<i class="fa fa-warning"></i>
        		<span>{{this.errorMsg}}</span>
    			</div>

					<div class="input-group mb20">
						<span class="input-group-addon">
							<i class="fa fa-user"></i>
						</span>
						{{input class="form-control placeholder-no-fix" type="text" autocomplete="off" autofocus="autofocus" placeholder="手机号" value=model.cell}}
					</div>

					<div class="input-group mb20">
						<span class="input-group-addon">
							<i class="fa fa-lock"></i>
						</span>
						{{input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" value=model.password id="password"}}
					</div>

					<div class="row">
						<div class="col-md-6 checkbox margin-bottom-20">
							<label>
								{{input type='checkbox' checked=model.rememberMe}} 记住我
							</label>
						</div>
						<div class="col-md-12">
							<button id="submit-btn" class="btn-u btn-u-red col-sm-12 w-all" type="submit">登录</button>
						</div>
					</div>
					<p class="pt20">
						<a class="black" href="javascript:;">
							<span>
								忘记密码?
							</span>
						</a>
						{{#link-to "profile.register" class="red pull-right"}}
							<span>
								现在去注册
								<i class="fa fa-angle-double-right"></i>
							</span>
						{{/link-to}}
					</p>
					<div class="col-md-12 text-center fs-sm pt20">
						<div>版权所有 证津信息科技（上海）有限公司</div>
						<div>©2015-2017 沪ICP备15010975号</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{{zz-footer nav_item_1=false nav_item_2=false nav_item_3=true}}
