{{partial "components/header"}}

<div class="content-wrap" id="billingIndex">
  <div class="row ">
    <ul class="nav-ver-list">
      {{#each billing in content}}
        <li class="nav-ver-item">
          <div>{{billing.remark}} - {{billing.billing_type}} <span class="pull-right">{{billing.operator_str}}{{billing.amount}}</span> </div>
          <div class="fs-sm light-gray">{{billing.created_time}} <span class="pull-right">{{billing.state.desc}}</span> </div>
        </li>
      {{/each}}
    </ul>

    {{page-numbers content=content class="pull-right" dots=true}}
  </div>
</div>
