{{zz-header toolbar_back_show=true toolbar_name="修改密码" toolbar_back_url="protected.user.safe-setting"}}

<div class="content-wrap">
  <div class="row ">
    <form {{action 'resetPassword' this on='submit'}}  method="post" class="mt20" id="resetPassword">
      <div class="alert alert-danger {{unless hasError 'hidden'}}">
        <i class="fa fa-warning"></i>
        <span>{{this.errorMsg}}</span>
      </div>
      <div class="input-group mb10">
        <span class="input-group-addon">
          <i class="icon-lock"></i>
        </span>
        {{input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="当前密码" value=model.current_password id="current_password"}}
      </div>
      <div class="input-group mb10">
        <span class="input-group-addon">
          <i class="icon-lock"></i>
        </span>
        {{input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="新密码(6-12位字符)" value=model.password id="password"}}
      </div>
      <div class="input-group mb20">
        <span class="input-group-addon">
          <i class="icon-lock"></i>
        </span>
        {{input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="确认新密码" value=model.confirm_password id="confirm_password"}}
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <button id="submit-btn" class="btn-u btn-u-red col-sm-6 w150" type="submit">修改</button>
        </div>
      </div>

    </form>

    <div class="text logo-des">
      <p>
        <span>版权所有 证津信息科技（上海）有限公司 </span>
      </p>
      <p>
        <span>Copyright Reserved 2015-2017 沪ICP备15010975号</span>
      </p>
    </div>

  </div>
</div>
