{{partial "components/header"}}

<div class="content-wrap">
  <div class="row ">
    <form {{action 'resetPassword' this on='submit'}}  method="post" class="mt20" id="resetPassword">
      <div {{bind-attr class=":alert :alert-danger hasError::hidden"}}>
        <i class="fa fa-warning"></i>
        <span>{{this.errorMsg}}</span>
      </div>
      <div class="input-group mb10">
        <span class="input-group-addon">
          <i class="fa fa-lock"></i>
        </span>
        {{input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" value=model.password id="password"}}
      </div>
      <div class="input-group mb10">
        <span class="input-group-addon">
          <i class="fa fa-lock"></i>
        </span>
        {{input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="新密码(6-12位字符)" value=model.new_password id="new_password"}}
      </div>
      <div class="input-group mb20">
        <span class="input-group-addon">
          <i class="fa fa-lock"></i>
        </span>
        {{input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="确认新密码" value=model.confirm_new_password id="confirm_new_password"}}
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <button id="submit-btn" class="btn-u btn-u-red col-sm-6" type="submit">修改</button>
        </div>
      </div>

    </form>

  </div>
</div>
